<template>
  <div class="colors w-4/5 mx-auto" style="max-width: 800px">
    <div class="grid grid-cols-1 gap-8">
      <div v-for="item in colors" :key="item.DEFAULT">
        <div
          class="flex flex-col space-y-3 sm:flex-row text-xs sm:space-y-0 sm:space-x-4"
        >
          <div class="w-32 flex-shrink-0">
            <div class="h-10 flex flex-col justify-center">
              <div class="text-sm font-semibold text-gray-900 break-all">
                {{ item.name }}
              </div>
              <div>
                <code class="text-xs text-gray-500 break-all">{{
                  item.shortname
                }}</code>
              </div>
            </div>
          </div>

          <div
            v-if="item.colorz"
            class="min-w-0 flex-1 grid grid-cols-5 2xl:grid-cols-10 gap-x-4 gap-y-3 2xl:gap-x-2"
          >
            <div v-for="(value, key, index) in item.colorz" :key="index">
              <div class="space-y-1.5" v-if="key != 'DEFAULT'">
                <ColorBox :value="value" />
                <div
                  class="color-divs px-0.5 md:flex md:justify-between md:space-x-2 2xl:space-x-0 2xl:block"
                >
                  <div
                    class="w-6 font-medium text-gray-900"
                    :class="key == '500' ? 'font-black' : ''"
                  >
                    {{ key }}
                  </div>
                  <div :class="key == '500' ? 'font-black' : ''">
                    {{ value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ColorsTonesShadows",
  data() {
    return {
      colors: [
        {
          name: "Primary",
          shortname: "bprimary",
          colorz: {
            DEFAULT: "#25D366",
            50: "#E3F9E5",
            100: "#C5F2CB",
            200: "#A7EBB2",
            300: "#86E399",
            400: "#60DB7F",
            500: "#25D366",
            600: "#27AC55",
            700: "#268744",
            800: "#226434",
            900: "#075354",
            950: "#132416",
          },
        },
        {
          name: "Secondary",
          shortname: "bsecondary",
          colorz: {
            DEFAULT: "#171D4B",
            50: "#D6D5DF",
            100: "#AEACC0",
            200: "#8885A1",
            300: "#625F83",
            400: "#3E3D67",
            500: "#171D4B",
            600: "#16193F",
            700: "#151633",
            800: "#131228",
            900: "#100D1D",
            950: "#080712",
          },
        },
      ],
    };
  },
};
</script>