<template>
  <div
    class="h-10 w-full rounded ring-1 ring-inset ring-black ring-opacity-0"
    :title="convertHex(value)"
    :style="{ backgroundColor: value }"
  ></div>
</template>

<script>
export default {
  name:"ColorBox",
  props: {
    value: String,
  },
  methods: {
    convertHex(color) {
      color = color.replace("#", "");
      const r = parseInt(color.substring(0, 2), 16);
      const g = parseInt(color.substring(2, 4), 16);
      const b = parseInt(color.substring(4, 6), 16);
      return `rgba(${r}, ${g}, ${b}, 1)`;
    },
  },
};
</script>