<template>
  <div class="prose w-4/5 mx-auto" style="max-width: 800px">
    <div class="mt-10"></div>
    <h2
      class="group flex whitespace-pre-wrap"
      id="overview"
      style="margin-bottom: 0px"
    >
      <span class="sr-only">Overview</span>
    </h2>
    <p class="text-sm text-gray-400">
      pri: Primary <br />
      sec: Secondary <br />
      s01: Supplementary <br />
      bck: Background <br />
      sbck: Supplementary (Background)
    </p>
    <div class="mt-10"></div>
  </div>
</template>

<script>
export default {
  name: "ColorsLegend",
};
</script>