<template>
  <div class="colors w-4/5 mx-auto" style="max-width: 800px">
    <div class="grid grid-cols-1 gap-8">
      <div v-for="item in colors" :key="item.DEFAULT">
        <div
          class="flex flex-col space-y-3 sm:flex-row text-xs sm:space-y-0 sm:space-x-4"
        >
          <div class="w-32 flex-shrink-0">
            <div class="h-10 flex flex-col justify-center">
              <div class="text-sm font-semibold text-gray-900 break-all">
                {{ item.name }}
              </div>
              <div>
                <code
                  v-html="item.shortname"
                  class="text-xs text-gray-500 break-all"
                ></code>
              </div>
            </div>
          </div>

          <div
            v-if="item.colorz"
            class="min-w-0 flex-1 grid grid-cols-5 2xl:grid-cols-10 gap-x-4 gap-y-3 2xl:gap-x-2"
          >
            <div v-for="(value, key, index) in item.colorz" :key="index">
              <div class="space-y-1.5" v-if="key != 'DEFAULT'">
                <ColorBox :value="value" />
                <div
                  class="color-divs px-0.5 md:flex md:justify-between md:space-x-2 2xl:space-x-0 2xl:block"
                >
                  <div
                    class="w-6 font-medium text-gray-900"
                    :class="key == '500' ? 'font-black' : ''"
                  >
                    {{ key }}
                  </div>
                  <div :class="key == '500' ? 'font-black' : ''">
                    {{ value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Colors",
  data() {
    return {
      colors: [
        // {
        //   name: "Primary",
        //   shortname: "bprimaryts",
        //   colorz: {
        //     DEFAULT: "#25D366",
        //     50: "#E3FAEC",
        //     100: "#CEF6DD",
        //     200: "#A2EFBF",
        //     300: "#77E7A1",
        //     400: "#4BE083",
        //     500: "#25D366",
        //     600: "#1DA851",
        //     700: "#167C3C",
        //     800: "#0E5127",
        //     900: "#072512",
        //   },
        // },
        // {
        //   name: "Secondary",
        //   shortname: "bsecondaryts",
        //   colorz: {
        //     DEFAULT: "#171D4B",
        //     50: "#EEF0FA",
        //     100: "#CDD1F0",
        //     200: "#8B94DB",
        //     300: "#4857C7",
        //     400: "#2B378D",
        //     500: "#171D4B",
        //     600: "#13183F",
        //     700: "#101434",
        //     800: "#0C0F28",
        //     900: "#090B1C",
        //   },
        // },
        {
          name: "Supplementary",
          shortname: "bsupplementary, <br/> s01",
          colorz: {
            DEFAULT: "#FF9066",
            50: "#FFF4F0",
            100: "#FFE9E0",
            200: "#FFD3C2",
            300: "#FFBCA3",
            400: "#FFA685",
            500: "#FF9066",
            600: "#FF6B33",
            700: "#FF4600",
            800: "#CC3800",
            900: "#992A00",
          },
        },
        {
          name: "Supplementary",
          shortname: "s02",
          colorz: {
            DEFAULT: "#3CC4C4",
            50: "#ECF9F9",
            100: "#D9F3F3",
            200: "#B1E8E8",
            300: "#8ADCDC",
            400: "#63D0D0",
            500: "#3CC4C4",
            600: "#309D9D",
            700: "#247676",
            800: "#184F4F",
            900: "#0C2828",
          },
        },
        {
          name: "Supplementary",
          shortname: "s03",
          colorz: {
            DEFAULT: "#6650F2",
            50: "#FBFBFF",
            100: "#EBE8FD",
            200: "#CAC2FA",
            300: "#A89CF8",
            400: "#8776F5",
            500: "#6650F2",
            600: "#3C21EE",
            700: "#290FCD",
            800: "#1F0C9D",
            900: "#16086E",
          },
        },
        {
          name: "Supplementary",
          shortname: "s04",
          colorz: {
            DEFAULT: "#FFC844",
            50: "#FFF7E5",
            100: "#FFF2D3",
            200: "#FFE7AF",
            300: "#FFDD8B",
            400: "#FFD268",
            500: "#FFC844",
            600: "#FFB911",
            700: "#DD9C00",
            800: "#AA7800",
            900: "#775400",
          },
        },
        {
          name: "Supplementary",
          shortname: "s05",
          colorz: {
            DEFAULT: "#44D6E9",
            50: "#E8FAFC",
            100: "#D6F6FA",
            200: "#B2EEF6",
            300: "#8DE6F2",
            400: "#69DEED",
            500: "#44D6E9",
            600: "#1AC9E0",
            700: "#15A0B2",
            800: "#107784",
            900: "#0A4E57",
          },
        },
        {
          name: "Supplementary",
          shortname: "s06",
          colorz: {
            DEFAULT: "#B16FEF",
            50: "#F4EBFD",
            100: "#EDDDFB",
            200: "#DEC2F8",
            300: "#CFA6F5",
            400: "#C08BF2",
            500: "#B16FEF",
            600: "#9841EA",
            700: "#7F19DF",
            800: "#6514B1",
            900: "#4B0F83",
          },
        },
        {
          name: "Supplementary",
          shortname: "s07",
          colorz: {
            DEFAULT: "#3AD0AE",
            50: "#F3FCFA",
            100: "#DFF7F2",
            200: "#B6EDE1",
            300: "#8CE4D0",
            400: "#63DABF",
            500: "#3AD0AE",
            600: "#29AE90",
            700: "#20846E",
            800: "#165B4B",
            900: "#0C3229",
          },
        },
        {
          name: "Supplementary",
          shortname: "s08",
          colorz: {
            DEFAULT: "#787DFF",
            50: "#EBECFF",
            100: "#DEDFFF",
            200: "#C4C7FF",
            300: "#ABAEFF",
            400: "#9296FF",
            500: "#787DFF",
            600: "#454CFF",
            700: "#121BFF",
            800: "#0008DE",
            900: "#0006AB",
          },
        },
        {
          name: "Supplementary",
          shortname: "s09",
          colorz: {
            DEFAULT: "#FF769F",
            50: "#FFE9EF",
            100: "#FFDCE6",
            200: "#FFC3D5",
            300: "#FFA9C3",
            400: "#FF90B1",
            500: "#FF769F",
            600: "#FF437B",
            700: "#FF1058",
            800: "#DC0042",
            900: "#A90033",
          },
        },
      ],
    };
  },
};
</script>
