<template>
  <div class="colors w-4/5 mx-auto" style="max-width: 800px">
    <div class="grid grid-cols-1 gap-8">
      <div v-for="item in colors" :key="item.DEFAULT">
        <div
          class="flex flex-col space-y-3 sm:flex-row text-xs sm:space-y-0 sm:space-x-4"
        >
          <div class="w-32 flex-shrink-0">
            <div class="h-10 flex flex-col justify-center text-left">
              <div class="text-sm font-semibold text-gray-900">
                {{ item.name }}
              </div>
              <div>
                <code class="text-xs text-gray-500">{{ item.shortname }}</code>
              </div>
            </div>
          </div>

          <div
            v-if="item.colorz"
            class="min-w-0 flex-1 grid grid-cols-5 2xl:grid-cols-5 gap-x-4 gap-y-3 2xl:gap-x-2"
          >
            <div v-for="(value, key, index) in item.colorz" :key="index">
              <div class="space-y-1.5" v-if="key != 'DEFAULT'">
                <ColorBox :value="value" />
                <div
                  class="color-divs px-0.5 md:flex md:justify-between md:space-x-2 2xl:space-x-0 2xl:block"
                >
                  <div
                    class="w-6 font-medium text-gray-900"
                    :class="key == '500' ? 'font-black' : ''"
                  >
                    {{ key }}
                  </div>
                  <div :class="key == '500' ? 'font-black' : ''">
                    {{ value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ColorsMain",
  data() {
    return {
      colors: [
        {
          name: "Colors",
          shortname: "",
          colorz: {
            pri: "#25D366",
            sec: "#171D4B",
            s01: "#FF9066",
            bck: "#FFFFFF",
            sbck: "#F0FAFF",
          },
        },
        {
          name: "Supplementary",
          shortname: "",
          colorz: {
            s02: "#3CC4C4",
            s03: "#6650F2",
            s04: "#FFC844",
            s05: "#44D6E9",
            s06: "#B16FEF",
            s07: "#3AD0AE",
            s08: "#787DFF",
            s09: "#FF769F",
          },
        },
      ],
    };
  },
};
</script>