<template>
  <div id="app">
    <h1 class="text-center m-10 text-5xl">Bikalite Renkleri</h1>
    <h2 class="text-center mx-5 mb-5 text-2xl">Ana Renkler (Dina'dan Gelen)</h2>
    <ColorsMain />
    <ColorsLegend />
    <hr class="my-10 border-black text-center text-2xl" />
    <h2 class="text-center mx-5 mb-5 text-2xl">Tonlar ve Gölgeler (Dina'dan Gelen)</h2>
    <ColorsTonesShadows />
    <hr class="my-10 border-black text-center text-2xl" />
    <h2 class="text-center mx-5 mb-5 text-2xl">Supplementary Renklerin Ton ve Gölgeleri</h2>
    <ColorsNote />
    <Colors />
    <!-- <hr class="my-10 border-black text-center text-2xl" /> -->
    <!-- <h2 class="text-center mx-5 mb-5 text-2xl">Tailwind CSS Colors</h2>
    <ColorsBoilerplate /> -->
  </div>
</template>

<script>
import Colors from "./components/Colors";
import ColorsMain from "./components/ColorsMain";
//import ColorsBoilerplate from "./components/ColorsBoilerplate";
import ColorsTonesShadows from "./components/ColorsTonesShadows";
import ColorsNote from "./components/ColorsNote";
import ColorsLegend from "./components/ColorsLegend";

export default {
  name: "App",
  components: {
    Colors,
    ColorsMain,
    //ColorsBoilerplate,
    ColorsTonesShadows,
    ColorsNote,
    ColorsLegend,
  },
};
</script>

<style>
body {
  background-color: #F8F8F8;
  margin-bottom: 60px;
}

.color-divs {
  font-family: "Ubuntu Mono";
}
</style>
